#search-form{
    position: fixed;
    display: flex;
    top: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: rgb(79, 79, 79);
    padding: 3px 5px;
}
#search-form #search-input{
    flex: 1;
    max-width: 500px;
    height: 80%;
    border: none;
    border-radius: 0px 0px 0px 0px;
    padding: .25rem .5rem;
}
#search-form button{
    height: 80%;
    border: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}
#range{
    height: 80%;
    flex: none;
    width: 60px;
    border: none;
    border-right: 1px solid #777;
    border-radius: 5px 0px 0px 5px;
}
input:focus{
    outline: none;
}